openapi: 3.2.0
info:
  title: Total Expert Public Schema Endpoints API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Schema Endpoints
paths:
  /v1/schema/custom-fields:
    get:
      operationId: fetchCustomFieldSchema
      summary: Fetch Custom Field Schema
      description: 'Fetch the schema of the custom fields defined for your organization.


        Attributes


        Field

        Assignable

        Type

        Description


        display_name

        No

        string

        Field name that will be displayed in the TE platform


        internal_created_at

        No

        string

        Date of creation of this custom field in TE systems. Format: ''YYYY-MM-DD HH:mm:ss''


        internal_updated_at

        No

        string

        Date of last change to this custom field in TE systems. Format: ''YYYY-MM-DD HH:mm:ss''


        related_entity

        No

        relationship

        Contains two fields that specify the type of entity the custom field is tied to: entity_type (Possible values: loan, contact, account, user, entity) and entity_subtype, which can contain a custom string value


        system_name

        No

        string

        Field name that is used internally to identify the custom field


        data_type

        No

        string

        Custom field''s data type (Possible values: text, datetime, date, boolean, integer, decimal)


        account_class

        No

        relationship

        Contains two fields that specify the account classification the custom field is tied to: class_name, which is a custom string, and class_type (Possible values: LOAN, ACCOUNT)


        Filtering


        Use the ''filter=attribute_name=x,attribute_name_2=y'' query to return the list of custom field that meet the filter criteria. For example, to filter custom fields modified between Oct. 14, 2020 17:41:01 (UTC) and Oct. 15, 2020 17:41:09 (UTC), the following query could be used:


        /schema/custom-fields?filter=internal_updated_at_start=2017-10-14T17:41:01Z,internal_updated_at_end=2017-10-15T17:41:09Z


        The supported filter attributes are shown in the following table.


        Field

        Description


        internal_updated_at_start

        ISO-8601 formatted date. The start of the time range of interest, inclusive.


        internal_updated_at_end

        ISO-8601 formatted date. The end of the time range of interest, inclusive.


        internal_created_at_start

        ISO-8601 formatted date. The start of the time range of interest, inclusive.


        internal_created_at_end

        ISO-8601 formatted date. The end of the time range of interest, inclusive.


        system_name

        The internal name of the custom field


        related_entity_type

        The type of the related_entity


        account_class_name

        Name of the related account class


        account_class_type

        Type of the related account class'
      tags:
      - Schema Endpoints
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
  /v1/schema/participant-roles:
    get:
      operationId: fetchLoanParticipantRolesSchema
      summary: Fetch Loan Participant Roles Schema
      description: 'Fetch the schema of the loan participant roles defined for your organization.


        Attributes


        Field

        Assignable

        Type

        Description


        display_name

        No

        string

        Role display name


        required

        No

        tinyint

        To describe the role is required


        system_name

        No

        string

        Role system name


        account_class

        No

        relationship

        Contains two fields that specify the account classification the custom field is tied to: class_name, which is a custom string, and class_type (Possible values: LOAN, ACCOUNT)


        role_type

        No

        relationship

        Contains three fields that specify the loan participant role type the custom field is tied to: discrete, rules_type_id and type_name


        Filtering


        The supported filter attributes are show in the following table.


        Field

        Description


        system_name

        The system name for the role


        display_name

        The display name for the role


        required

        To describe if the role is required


        account_class_name

        The system name for the account classification


        account_class_type

        The type for the account classification


        role_type_name

        The name of the loan participant role type


        role_type_discrete

        To describe if the loan participant role type is discrete


        role_type_rules_type_id

        The id of the rules type as it relates to the the loan participant role type'
      tags:
      - Schema Endpoints
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
