openapi: 3.2.0
info:
  title: Total Expert Public Email Unsubscribes API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Email Unsubscribes
paths:
  /v1/email-domains:
    get:
      operationId: fetchEmailDomains
      summary: Fetch Email Domains
      description: 'Fetch a page of email domains. Specify page size and page number via the ''?page[size]'' and ''?page[number]'' GET parameters.


        Attributes


        Field

        Assignable

        Type

        Description


        domain_name

        No

        string

        The sending domain, e.g. ''totalexpert.com'''
      tags:
      - Email Unsubscribes
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
  /v1/email-unsubscribes:
    post:
      operationId: createEmailUnsubscribe
      summary: Create Email Unsubscribe
      description: 'Change the subscripition status for an email.


        Required Attributes:


        email


        Required Relationships:

        None'
      tags:
      - Email Unsubscribes
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      requestBody:
        content:
          application/json:
            example:
              email: dontemailmeanymore@domain.com
              organization_wide: false
              users:
              - email: user1@mycompany.net
              - external_id: mycompany.user2
              - id: 59
              - username: user4
              domains:
              - domain_name: mycompany.net
    get:
      operationId: fetchEmailUnsubscribes
      summary: Fetch Email Unsubscribes
      description: 'Fetch a page of unsubscribes. Specify page size and page number via the ''?page[size]'' and ''?page[number]'' GET parameters.


        Attributes


        Field

        Assignable

        Type

        Description


        id

        No

        int

        The id of the email unsubscribe


        email

        No

        string

        The email that is unsubscribed


        organization_unsub_at

        No

        datetime

        The timestamp of when an organization unsubscribed


        organization_wide

        No

        bool

        The unsubscribe is org-wide'
      tags:
      - Email Unsubscribes
      responses:
        '200':
          description: Fetch Email Unsubscribes
          content:
            application/json:
              example:
                items:
                - email: example-email@domain.com
                  id: 1
                  organization_unsub_at: '2021-01-28T16:21:40.000000Z'
                  organization_wide: true
                  domains:
                  - domain_name: totalexpertinc.com
                    id: 1
                    domain_unsub_at: '2021-01-28T16:21:40.000000Z'
                  users:
                  - email: test-user@totalexpert.com
                    external_id: test
                    id: 50
                    username: testacct
                    user_unsub_at: '2021-01-28T16:21:40.000000Z'
                links:
                  first: 1
                  last: 1
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
  /v1/email-unsubscribes/{email_unsubscribe_id}:
    get:
      operationId: fetchEmailUnsubscribe
      summary: Fetch Email Unsubscribe
      description: 'Fetch a particular email unsubscribe by id.


        Attributes


        Field

        Assignable

        Type

        Description


        id

        No

        int

        The id of the email unsubscribe


        email

        No

        string

        The email that is unsubscribed


        organization_unsub_at

        No

        datetime

        The timestamp of when an organization unsubscribed


        organization_wide

        No

        bool

        The unsubscribe is org-wide'
      tags:
      - Email Unsubscribes
      responses:
        '200':
          description: Fetch Email Unsubscribe
          content:
            application/json:
              example:
                email: example-email@domain.com
                id: 1
                organization_unsub_at: '2021-01-28T16:21:40.000000Z'
                organization_wide: true
                domains:
                - domain_name: totalexpertinc.com
                  id: 1
                  domain_unsub_at: '2021-01-28T16:21:40.000000Z'
                users:
                - email: test-user@totalexpert.com
                  external_id: test
                  id: 50
                  username: testacct
                  user_unsub_at: '2021-01-28T16:21:40.000000Z'
      parameters:
      - name: email_unsubscribe_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
