openapi: 3.2.0
info:
  title: Total Expert Public Entities API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Entities
paths:
  /v1/entities/{entity_id}:
    get:
      operationId: fetchEntity
      summary: Fetch Entity
      description: Fetch a specific entity specified by ID.
      tags:
      - Entities
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: updateEntity
      summary: Update Entity
      description: Update an existing entity by ID.
      tags:
      - Entities
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              phone: '5558675309'
    delete:
      operationId: deleteEntity
      summary: Delete Entity
      description: Delete an entity by ID.
      tags:
      - Entities
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
  /v1/entities:
    get:
      operationId: fetchEntities
      summary: Fetch Entities
      description: Fetch a page of entities. Specify page size and page number via the '?page[size]' and '?page[number]' GET parameters.
      tags:
      - Entities
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
    post:
      operationId: createEntityAsAdmin
      summary: Create Entity (as Admin)
      description: Create an entity.
      tags:
      - Entities
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      requestBody:
        content:
          application/json:
            example:
              entity_name: Squiggle Whomp Household
              entity_type:
                system_name: household
              related_entities:
              - relationship_type:
                  system_name: members
                children:
                - external_id: abcd1234
              custom:
              - field_name: gold_star_string
                value: value
  /v1/entity-relationship-types:
    get:
      operationId: fetchEntityRelationshipTypes
      summary: Fetch Entity Relationship Types
      description: Fetch a page of entities. Specify page size and page number via the '?page[size]' and '?page[number]' GET parameters.
      tags:
      - Entities
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
