openapi: 3.2.0
info:
  title: Total Expert Public Insight Endpoints API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Insight Endpoints
paths:
  /v1/insight-types:
    get:
      operationId: fetchInsightTypes
      summary: Fetch Insight Types
      description: Fetch a page of insight types. Specify page size and page number via the '?page[size]' and '?page[number]' GET parameters.
      tags:
      - Insight Endpoints
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
  /v1/insights/{insight_id}:
    get:
      operationId: fetchInsight
      summary: Fetch Insight
      description: Fetch a specific insight specified by ID.
      tags:
      - Insight Endpoints
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: insight_id
        in: path
        required: true
        schema:
          type: string
  /v1/insights:
    get:
      operationId: fetchInsights
      summary: Fetch Insights
      description: Fetch a page of insights. Specify page size and page number via the '?page[size]' and '?page[number]' GET parameters.
      tags:
      - Insight Endpoints
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
    post:
      operationId: createInsightAsAdmin
      summary: Create Insight (as Admin)
      description: 'Create an Insight.


        Required Relationships:


        owner*


        type


        contact


        *required if authenticated as an organization admin


        Alternate documented request: Create Insight (as User).'
      tags:
      - Insight Endpoints
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  data:
                    description: This insight is very insightful
                  insight_date: '2020-04-12 12:34:56'
                  owner:
                    id: 50
                  contact:
                    id: 451
                  type:
                    id: 7
              create-insight-as-user:
                value:
                  data:
                    description: This insight is very insightful
                  insight_date: '2020-04-12 12:34:56'
                  contact:
                    id: 451
                  type:
                    id: 7
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
