openapi: 3.2.0
info:
  title: Total Expert Public Scenarios API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Scenarios
paths:
  /v1/scenarios/{scenario_id}:
    get:
      operationId: fetchScenario
      summary: Fetch Scenario
      description: Fetch a specific scenario specified by ID.
      tags:
      - Scenarios
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: scenario_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: updateScenario
      summary: Update Scenario
      description: Update an existing scenario by ID.
      tags:
      - Scenarios
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: scenario_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: 123 Street Road, City, MN 12345
              display_name: 123 Street Road Pricing
              expiration_date: '2020-03-01 12:00:00'
              owner:
                id: 50
              tags:
              - type: MLS_NUMBER
                value: '654321'
              remove_tags:
              - type: CONTACT
                value: 12345
              data:
                loan_scenarios:
                - product_name: Conv 30 Year Fixed
                  rate: 3.875
                  apr: 3.901
                  monthly_payment: 940
                  monthly_premium: 0
                  is_arm: false
                  ltv: 80
                  num_payments: 360
                  term_total: 30
                  closing_costs: 1200
                  list_price: 240000
                  loan_amount: 200000
                  base_loan_amount: 200000
                  down_payment: 40000
                  down_payment_pct: 20
                  raw_down_payment_pct: 0.2
                  conforming: true
                  non_conforming: false
                  fha: false
                  va: false
                  fico_score: 740
    delete:
      operationId: deleteScenario
      summary: Delete Scenario
      description: Delete a scenario by ID.
      tags:
      - Scenarios
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: scenario_id
        in: path
        required: true
        schema:
          type: string
  /v1/scenarios:
    get:
      operationId: fetchScenarios
      summary: Fetch Scenarios
      description: Fetch a page of scenarios. Specify page size and page number via the '?page[size]' and '?page[number]' GET parameters. Can also filter by name, display_name, or expiration_date.
      tags:
      - Scenarios
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
    post:
      operationId: createScenarioAsAdmin
      summary: Create Scenario (as Admin)
      description: 'Create a scenario.


        Required Attributes (one of the following combinations):


        name, data


        Required Relationships:


        owner*


        tags


        *required if authenticated as an organization admin'
      tags:
      - Scenarios
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      requestBody:
        content:
          application/json:
            example:
              name: 123 Street Road, City, MN 12345
              display_name: 123 Street Road Pricing
              expiration_date: '2020-03-01 12:00:00'
              owner:
                id: 50
              tags:
              - type: MLS_NUMBER
                value: '123456'
              - type: CONTACT
                value: 12345
              data:
                loan_scenarios:
                - product_name: Conv 30 Year Fixed
                  rate: 3.875
                  apr: 3.901
                  monthly_payment: 940
                  monthly_premium: 0
                  is_arm: false
                  ltv: 80
                  num_payments: 360
                  term_total: 30
                  closing_costs: 1200
                  list_price: 240000
                  loan_amount: 200000
                  base_loan_amount: 200000
                  down_payment: 40000
                  down_payment_pct: 20
                  raw_down_payment_pct: 0.2
                  conforming: true
                  non_conforming: false
                  fha: false
                  va: false
                  fico_score: 740
                - product_name: Conv 30 Year Fixed
                  rate: 3.875
                  apr: 3.901
                  monthly_payment: 1115
                  monthly_premium: 80
                  is_arm: false
                  ltv: 90
                  num_payments: 360
                  term_total: 30
                  closing_costs: 1200
                  list_price: 240000
                  loan_amount: 220000
                  base_loan_amount: 220000
                  down_payment: 20000
                  down_payment_pct: 10
                  raw_down_payment_pct: 0.1
                  conforming: true
                  non_conforming: false
                  fha: false
                  va: false
                  fico_score: 740
                - product_name: Conv 7/1 ARM
                  rate: 3.675
                  apr: 3.812
                  monthly_payment: 900
                  monthly_premium: 0
                  is_arm: true
                  ltv: 80
                  num_payments: 360
                  term_total: 30
                  closing_costs: 1300
                  list_price: 240000
                  loan_amount: 200000
                  base_loan_amount: 200000
                  down_payment: 40000
                  down_payment_pct: 20
                  raw_down_payment_pct: 0.2
                  conforming: true
                  non_conforming: false
                  fha: false
                  va: false
                  fico_score: 740
                  arm_term: 84
                  arm_index_value: 1.72
                  arm_index: CMT
                  arm_margin: 2.25
                  arm_cap_1: 2
                  arm_cap_2: 2
                  arm_cap_3: 5
                  indexed_rate: 3.97
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
