openapi: 3.2.0
info:
  title: Total Expert Public Email APIs API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Email APIs
paths:
  /v1/email-archive/id-42-9001:
    get:
      operationId: archiveEmailEncodedIdOrgidMsgid
      summary: Archive Email - Encoded (id-{orgId}-{msgId})
      description: 'Retrieves archived email content using the encoded messageId format: id-{organizationId}-{messageId}.


        The organization ID embedded in the messageId is validated against the authenticated caller''s organization. A mismatch returns 404 — not 403 — to avoid leaking whether a message exists.


        Path parameter: id-{orgId}-{msgId} — replace 42 with the org ID and 9001 with the message ID.


        Required filter: user_id={userId} — the user must belong to the caller''s org.'
      tags:
      - Email APIs
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                items:
                  file_name: id-42-9001
                  content: <html><body>Email content here</body></html>
                links:
                  first: 1
                  last: 1
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
        example: user_id
  /v1/email-archive/9001:
    get:
      operationId: archiveEmailRawNumericMsgid
      summary: Archive Email - Raw numeric ({msgId})
      description: 'Retrieves archived email content using a plain numeric messageId.


        The organization is inferred from the authenticated caller''s token — no org ID is embedded in the messageId. The caller''s org is validated against the message sender''s org inside the DataManager.


        Path parameter: plain integer string — replace 9001 with the message ID.


        Required filter: user_id={userId} — the user must belong to the caller''s org.'
      tags:
      - Email APIs
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                items:
                  file_name: '9001'
                  content: <html><body>Email content here</body></html>
                links:
                  first: 1
                  last: 1
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
        example: user_id
  /v1/email-templates/render:
    post:
      operationId: emailTemplateRenderByTemplateId
      summary: Email Template Render - By template ID
      description: 'Renders a saved email template by its id with placeholders resolved for the given sender, recipient, and optional context.


        The template must belong to the caller''s organization and be accessible to the sender.


        Required: id, sender_id


        Optional: recipient, loan_id, account_id, comarketer_id, odc_push_result_id, video, content.subject (overrides template subject)


        Alternate documented request: Email Template Render - By inline HTML.'
      tags:
      - Email APIs
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  id: 101
                  sender_id: 12345
                  recipient:
                    id: 67890
                  loan_id: 555
                  comarketer_id: 9999
                  odc_push_result_id: 77
                  video: {}
              email-template-render-by-inline-html:
                value:
                  content:
                    html: <p>Hello {{first_name}}, your rate is ready.</p>
                    subject: Hi {{first_name}}, a message from {{sender_first_name}}
                  sender_id: 12345
                  recipient:
                    id: 67890
  /v1/user-images:
    post:
      operationId: postUserImages
      summary: POST /user-images
      description: 'Uploads a user image as raw binary in the request body.


        The image is stored in S3 under the target user''s marketing images path and a record is created in the database.


        Headers required:


        Content-Type — MIME type of the image (image/jpeg, image/png, image/gif)


        X-User-Id — TE user ID of the target user. Must belong to the same org as the caller.


        Body: raw binary bytes of the image file. Max 5 MB.'
      tags:
      - Email APIs
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
