openapi: 3.2.0
info:
  title: Total Expert Public Heartbeat API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Heartbeat
paths:
  /v1/heartbeat:
    get:
      operationId: fetchHeartbeat
      summary: Fetch Heartbeat
      description: The API will respond with a heartbeat with a string describing the running item. Useful for testing routing and API status.
      tags:
      - Heartbeat
      responses:
        '200':
          description: Fetch Heartbeat
          content:
            application/json:
              example:
                running_item: Total Expert External API
  /v1/teapot:
    get:
      operationId: fetchTeapot
      summary: Fetch Teapot
      description: 'Checks whether the API is a teapot. Should return ''418 - IM A TEAPOT''. This is, naturally, protected information. You will need to authenticate with the API in order to check whether the API is a teapot.


        This endpoint is useful for testing whether your authentication credentials are correct, particularly when first integrating with the TE API.'
      tags:
      - Heartbeat
      responses:
        '418':
          description: Fetch Teapot
          content:
            application/json:
              example:
                code: 418 I'm a teapot
                status: short and stout
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
