openapi: 3.2.0
info:
  title: Total Expert Public Webhooks API
  version: v1
  description: The Total Expert REST API allows you to programmatically create, retrieve, update, and delete information through various endpoints.
  contact:
    url: https://developer.totalexpert.net
servers:
- url: https://public.totalexpert.net
  description: Total Expert external API — production
- url: https://public.vt.totalexpert.net
  description: Total Expert external API — development/sandbox domain (isolated from live data; per the Vendor OAuth Integration Guide)
security:
- oauth2: []
tags:
- name: Webhooks
paths:
  /v1/webhook-actions:
    get:
      operationId: fetchWebhookActions
      summary: Fetch Webhook Actions
      description: 'Fetch a page of the list of subscribable actions. Specify page size and page number via the ''?page[size]'' and ''?page[number]'' GET parameters.


        Attributes


        Field

        Assignable

        Type

        Description


        action

        No

        string

        name of the subscribed verb, e.g. ''CREATED''


        item

        Yes

        string

        name of the subscribed item, e.g. ''CONTACT'''
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
  /v1/webhook-subscriptions:
    post:
      operationId: createWebhookSubscription
      summary: Create Webhook Subscription
      description: 'Create a webhook subscription.


        Required Attributes:


        url


        Required Relationships:


        actions'
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      requestBody:
        content:
          application/json:
            example:
              url: https://mydomain.example.com/v1/sample-webhook-consume5/
              secret: abcd1234
              actions:
              - action: CREATED
                item: CONTACT
              remove_actions:
              - action: DELETED
                item: CONTACT
    get:
      operationId: fetchWebhookSubscriptions
      summary: Fetch Webhook Subscriptions
      description: Fetch a page of subscriptions. Specify page size and page number via the '?page[size]' and '?page[number]' GET parameters.
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
  /v1/webhook-subscriptions/{subscription_id}:
    get:
      operationId: fetchWebhookSubscription
      summary: Fetch Webhook Subscription
      description: Fetch a specific subscription specified by ID.
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWebhookSubscription
      summary: Delete Webhook Subscription
      description: Deletes a subscription by ID.
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: string
        example: '1'
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        example: '10'
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: updateWebhookSubscription
      summary: Update Webhook Subscription
      description: 'Update an existing subscription by ID.


        This can be used to rotate the webhook secret. The updated secret will be applied for any changes originating after the subscription is patched. Pending webhooks will still be sent using the old secret.'
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. See the Total Expert Public API documentation for the response shape.
      parameters:
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              url: https://mydomain.example.com/v1/sample-webhook-consume/
              actions:
              - action: CREATED
                item: CONTACT
              - action: DELETED
                item: CONTACT
              - action: UPDATED
                item: CONTACT
              secret: new_secret
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Obtain a token from POST /v1/token using HTTP Basic (client_id:client_secret base64-encoded) plus a grant_type body. Access tokens are bearer tokens, expires_in 3600.
      flows:
        clientCredentials:
          tokenUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
        authorizationCode:
          authorizationUrl: https://public.totalexpert.net/v1/authorize
          tokenUrl: https://public.totalexpert.net/v1/token
          refreshUrl: https://public.totalexpert.net/v1/token
          scopes:
            crm: Documented example scope (Vendor OAuth Integration Guide authorize example)
            leadInteraction: Lead interaction access (documented in the collection token examples)
            loanInteraction: Loan interaction access (documented in the collection token examples)
            leadSurveyInteraction: Lead survey interaction access (documented example in the Vendor OAuth Integration Guide)
            postLeads: Post leads access (documented example in the Vendor OAuth Integration Guide)
externalDocs:
  description: Total Expert Public API documentation (Postman)
  url: https://documenter.getpostman.com/view/1929166/total-expert-public-api/6Z2RYyU
